{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Application List" %}{% endblock %}

{% block content %}

    <div class="my-8 flex flex-col items-center justify-center">

        <div class="w-1/2 pb-8 flex items-center justify-between border-b border-gray-400">

            <h2>{% trans "Your Apps" %}</h2>

            <a class="py-1 px-4 bg-blue-600 text-white rounded-lg capitalize shadow-md"
               href="{% url "oauth2_provider:register" %}">{% trans "new app" %}</a>

        </div>

        {% for application in applications %}

            <ul class="mt-3 w-1/2 border-b">

                <li class="block px-6 pt-3 pb-4 bg-white hover:bg-gray-100  border-l-4 border-blue-300 hover:border-red-400">

                    <div class="flex justify-between">

                        <a href="{% url "oauth2_provider:detail" application.id %}"
                           class="text-sm font-semibold text-blue-600 capitalize">{{ application.name }}</a>

                        <span class="text-sm text-gray-600 capitalize">{{ application.client_type }}</span>

                    </div>

                    <p class="my-4 text-sm text-gray-700 capitalize">{{ application.authorization_grant_type }}</p>

                    <div class="flex items-center">

                        <a href="{% url "oauth2_provider:update" application.id %}">

                            <svg class="h-6 w-6 fill-current text-green-500" viewBox="0 0 24 24">

                                <path d="M0 0h24v24H0z" fill="none"/>

                                <path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"/>

                            </svg>

                        </a>

                        <a href="{% url "oauth2_provider:delete" application.id %}">

                            <svg class="ml-2 h-6 w-6 fill-current text-red-600" viewBox="0 0 24 24">

                                <path d="M0 0h24v24H0z" fill="none"/>

                                <path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z"/>

                            </svg>

                        </a>

                    </div>

                </li>

            </ul>

        {% empty %}
            <img class="mt-8 w-1/4 h-1/4" src="{% static 'images/undraw_empty_xct9.svg' %}" alt="{% trans "Empty apps" %}" />
        {% endfor %}


    </div>

{% endblock %}
