{% extends 'base.html' %}

{% load i18n %}

{% block title %}{% trans "Authorize application" %}{% endblock %}

{% block content %}
    <div class="flex flex-col items-center justify-center">

        {% if not error %}

            <div class="mt-6 mb-8 mx-4 flex flex-col items-center justify-center">

                <svg
                        class="mb-6 h-24 w-24 fill-current text-red-600 dark:text-red-200"
                        viewBox="0 0 480 512">

                    <path
                            fill="currentColor"
                            d="M186.1 328.7c0 20.9-10.9 55.1-36.7 55.1s-36.7-34.2-36.7-55.1
                            10.9-55.1 36.7-55.1 36.7 34.2 36.7 55.1zM480 278.2c0 31.9-3.2
                            65.7-17.5 95-37.9 76.6-142.1 74.8-216.7 74.8-75.8 0-186.2
                            2.7-225.6-74.8-14.6-29-20.2-63.1-20.2-95 0-41.9 13.9-81.5
                            41.5-113.6-5.2-15.8-7.7-32.4-7.7-48.8 0-21.5 4.9-32.3 14.6-51.8
                            45.3 0 74.3 9 108.8 36 29-6.9 58.8-10 88.7-10 27 0 54.2 2.9 80.4
                            9.2 34-26.7 63-35.2 107.8-35.2 9.8 19.5 14.6 30.3 14.6 51.8 0
                            16.4-2.6 32.7-7.7 48.2 27.5 32.4 39 72.3 39 114.2zm-64.3
                            50.5c0-43.9-26.7-82.6-73.5-82.6-18.9 0-37 3.4-56 6-14.9 2.3-29.8
                            3.2-45.1 3.2-15.2 0-30.1-.9-45.1-3.2-18.7-2.6-37-6-56-6-46.8
                            0-73.5 38.7-73.5 82.6 0 87.8 80.4 101.3 150.4 101.3h48.2c70.3 0
                            150.6-13.4 150.6-101.3zm-82.6-55.1c-25.8 0-36.7 34.2-36.7
                            55.1s10.9 55.1 36.7 55.1 36.7-34.2 36.7-55.1-10.9-55.1-36.7-55.1z"></path>
                </svg>

                <h3 class="text-2xl">{% trans "Authorize" %} {{ application.name }}</h3>

            </div>

            <form method="post" class="w-2/5 p-6 bg-white shadow-md rounded-lg">
                {% csrf_token %}

                <div class="flex items-center">
                    <!-- Application Info -->

                    <img
                            class="h-8 w-8 rounded-full object-cover"
                            src="{{ request.user.picture.url }}"
                            alt="{{ request.user.username }} profile"/>

                    <div class="ml-6 flex flex-col">

                        <div class="flex items-center">

                            <h4 class="text-sm font-semibold">{{ application.name }}</h4>

                            <span class="mx-1">{% trans "by" %}</span>

                            <span class="text-blue-700 cursor-pointer">{{ application.user }}</span>

                        </div>

                        <span class="text-sm text-gray-700">{% trans "wants to access your" %} <strong>{{ request.user }}</strong> {% trans "account" %}</span>

                    </div>

                </div>

                {% for field in form %}
                    {% if field.is_hidden %}
                        {{ field }}
                    {% endif %}
                {% endfor %}


                <div class="mt-4 flex items-center">

                    <svg class="h-8 w-8" viewBox="0 0 24 24">
                        <path d="M0 0h24v24H0z" fill="none"/>
                        <path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/>
                    </svg>

                    <div class="ml-6 flex flex-col">


                        <h4 class="text-sm font-semibold">{% trans "Personal user data" %}</h4>

                        <ul class="flex flex-col">
                            {% for scope in scopes %}

                                {% if scope == "user" %}
                                    <span class="mb-1 text-sm text-gray-700">{% trans "Email addresses (read-only)" %}</span>
                                {% endif %}

                                {% if scope == "user:profile" %}
                                    <span class="mb-1 text-sm text-gray-700">{% trans "Profile (read-only)" %}</span>
                                {% endif %}

                                {% if scope == "business:accepted" %}
                                    <span class="mb-1 text-sm text-gray-700">{% trans "Accepted Business (read-only)" %}</span>
                                {% endif %}

                                {% if scope == "business:requested" %}
                                    <span class="mb-1 text-sm text-gray-700">{% trans "Requested Business (read-only)" %}</span>
                                {% endif %}

                                {% if scope == "business:write" %}
                                    <span class="mb-1 text-sm text-gray-700">{% trans "Create business request" %}</span>
                                {% endif %}

                                {% if scope == "renew:write" %}
                                    <span class="mb-1 text-sm text-gray-700">{% trans "Create renew request" %}</span>
                                {% endif %}


                            {% endfor %}
                        </ul>


                    </div>


                </div>

                {{ form.errors }}
                {{ form.non_field_errors }}
                <hr class="my-6"/>

                <div class="flex items-center justify-center">

                    <button class="mr-2 px-4 py-2 rounded-lg" type="submit">{% trans "Cancel" %}</button>

                    <input class="ml-2 px-4 py-2 bg-green-600 text-white rounded-lg cursor-pointer" type="submit"
                           name="allow" value="{% trans "Authorize" %} {{ application.user }}"/>

                </div>

            </form>

        {% else %}

            <h2>{% trans "Error" %}: {{ error.error }}</h2>

            <p>{{ error.description }}</p>

        {% endif %}

    </div>

{% endblock %}
